/* $Id */

.comment-thread .thread-title {
  font-weight: bold;
}

.comment-thread .thread-date {
  text-decoration: italic;
  display: block;
}

.comment-thread .comment-date {
  text-decoration: italic;
}

.comment-thread ul {
  margin: 0em;
}

.comment-thread ul li {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

.comment-thread .comment-title.current{
  font-weight: bold;
}

.comment-thread .comment-title.normal{
  font-weight: normal;
}

.comment-thread .post-date {
  text-decoration: italic;
}
